appdirs==1.4.3
beautifulsoup4==4.5.3
geojson==1.3.3
geopy==1.11.0
kitchen==1.2.4
lxml==3.7.3
mwparserfromhell==0.4.3
numpy==1.12.1
packaging==16.8
pandas==0.19.2
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
requests==2.9.0
simplemediawiki==1.1.1
six==1.10.0
